<%- include("header"); -%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<section class="jumbotron text-center">
<div class="album py-5 bg-light" id="roomPanel">
  <h1>Your room code is: <%= roomName %> </h1>

  <h1>You are player: <span id = "playerIndexDisplay"></span></h1>
  
  <pre id="roomStatus"></pre>

  <div id='roomActions'>
    <a href="#" class="btn btn-success" onclick="connect()">Connect</a>
    <a href="#" class="btn btn-success" onclick="start()">Start Game</a>
  </div>
</div>

<div id='gamePanel'>
    <pre id='gameState'>
        
    </pre>
    
    <div id='gameActions'>
        <a href="#" class="btn btn-success" onclick="incomeAction()">Income</a>
        <a href="#" class="btn btn-success" onclick="coupAction()">Coup</a>
    </div>
</div>

<div id="gameResultPanel">
    <h1> Game Over, winner is <span id="winner"></span></h1>
    <a href="#" class="btn btn-success" onclick="rematch()">Rematch</a>
</div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

<script type='text/javascript'>
    let localGameState; 
    let playerIndex; 

    $("#gameResultPanel").hide(); 

    function incomeAction(){
        socket.emit('action', {"name":"Income", "target": null}); 
    }

    function coupAction(){
        // let user select a target. 
        socket.emit('action', {"name":"Coup", "target": 1-playerIndex}); 
    }

    function rematch(){
        socket.emit('rematch'); 
    }

    let gameInProgress = false; 
    let gamePanel = document.getElementById('gamePanel'); 
    let roomActions = document.getElementById('roomActions'); 
    gamePanel.style.display = 'none'; 
    let socket; 
    let localRoomName = "<%= roomName %>"; 
    console.log(localRoomName); 

    function connect(){
        socket = io( {query: {
            room: localRoomName
          }}); 

        socket.on('playerIndex', index => {
            console.log(`playerIndex = ${index}`); 
            document.getElementById('playerIndexDisplay').innerText = index;
            playerIndex = index; 
        });

        socket.on('roomStatus', status =>{
            document.getElementById('roomStatus').innerText = status; 
        }); 

        socket.on('gameState', gameState =>{
            if (!gameInProgress) {
                gameInProgress = true; 
            }
            localGameState = gameState;
            gamePanel.style.display = 'block'; 
            roomActions.style.display = 'none'; 
            paintGameState(gameState); 
        });

        socket.on('gameOver', winner => {
            console.log(`winner is ${winner}`); 
            document.getElementById('winner').innerText = winner; 
            gameInProgress = false; 
            $("#gameResultPanel").show(); 
            $("#gamePanel").hide(); 
        });

        socket.on('rematchConfirm', ()=>{
            $("#gameResultPanel").hide(); 
            // flush state
            paintGameState({}); 
            $("#gamePanel").show(); 
        }); 
    }
    function start(){
        socket.emit('start'); 
        gameInProgress = true; 
    }

    function paintGameState(gameState){
        document.getElementById('gameState').innerText = gameState; 
        // TODO add ul corresponding to players
    }
</script>


</body>

</html>