.me {
    color: rgb(137, 167, 57);
}

.error {
    color: red; 
}

.log {
    color: gainsboro;
    font-family: 'Chakra Petch', sans-serif;
}

.log .newest{
    font-size: large;
    font-family: 'Chakra Petch', sans-serif;
}

.selection{
    padding-top: 50px;
    padding-bottom: 50px;
}

.cards{
    text-align:center; 
    display: block; 
}

.mycard{
    display: inline-flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 60px;
    width: 200px;
    background-color: beige;
    text-align: center
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.readyAndStart{
    margin-top: 20px;
    margin-bottom: 20px;
}

.with-border{
    border: 5px solid red;
}

.terminated-player{
    text-decoration: line-through;
}



