.me {
    color: rgb(137, 167, 57);
}

.error {
    color: red; 
}

.log {
    color: gainsboro;
    font-family: 'Chakra Petch', sans-serif;
}

.log .newest{
    font-size: large;
    font-family: 'Chakra Petch', sans-serif;
}

.selection{
    padding-top: 50px;
    padding-bottom: 50px;
}



