body {
    padding-bottom: 120px;
}

.ads {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.ads-group {
    display: flex; 
    flex-direction: row;  
    justify-content: center;
}

@media (max-width: 800px) {
    .ads {
      flex-direction: column;
    }
  }

.roomCode {
    font-family: 'Source Code Pro', monospace;
}

.link {
    cursor: pointer;
    text-decoration: none;
    /* color: #000000; */
    font-weight: 600;
    /* background-color: #F2F2F2; */
    border-radius: 5px;
    padding: 5px;
    transition-duration: 0.3s;
}

.closebtn {
    display: inline;
}

.winnertext {
    color: white; 
    font-size: 24px; 
}

.amazonads {
    position: relative;
    padding: 0 1vw; 
    /* horizontal padding is 5 percent of viewport width, vertical padding is 0 */
}

.link:hover {
    color: #FFFFFF;
    background-color: #A2A2A2;
}

.heading {
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    display: block;
    font-size: 36px;
}

.error {
    color: rgb(211, 7, 7);
    font-size: 20px;
}

.log {
    color: black;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}

#newest {
    font-size: 24px;
}

.selection {
    padding-top: 0px;
    padding-bottom: 5px;
}

.cards {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.cardcontainer {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    width: 200px;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    transform-style: preserve-3d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

@keyframes flippedAnimation {
    0% {
        transform: rotateY(0);
    }

    30% {
        transform: rotateY(180deg);
    }

    70% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(0);
    }
}

.flipped {
    animation: flippedAnimation linear 2s;
}


.cardface {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cardback {
    transform: rotateY(180deg);
}

.unknown {
    background-image: url("../../assets/unknowncard.png");
    background-size: cover;
}

.duke {
    background-image: url("../../assets/duke.png");
    background-size: cover;
}

.ambassador {
    background-image: url("../../assets/ambassador.png");
    background-size: cover;
}

.assassin {

    background-image: url("../../assets/assassin.png");
    background-size: cover;
}

.contessa {
    background-image: url("../../assets/contessa.png");
    background-size: cover;
}

.captain {
    background-image: url("../../assets/captain.png");
    background-size: cover;
}

.cardinner {
    display: flex;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    font-family: 'Pirata One', cursive;
    font-size: x-large;
}

.cardback {
    display: flex;
    transform: rotateY(180deg);
    align-items: center;
    justify-content: center;

}

.readyAndStart {
    margin-top: 20px;
    margin-bottom: 20px;
}

.with-border {
    border: 5px solid red;
}

.terminated-player {
    text-decoration: line-through;
    font-size: 25px;
}

.alive-player {
    font-size: 25px;
}

.otherPlayerState {
    font-weight: 400;
}

.myPlayerState {
    font-weight: 600;
}

.cardContent {
    /* font-family: 'Bangers', cursive; */
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}

.tokenImg {
    height: 20px;
    width: 20px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.fa-heart {
    color: hsl(342, 90%, 50%);
    height: 20px;
    width: 20px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.btn-info {
    margin: 5px;
}

.btn-warning {
    margin: 5px;
}

.in-game-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1100;
    /* padding-top: 5px; */
    /* border-top: 2px solid beige;  */
    background: beige;
}

.eventLog {
    padding-top: 10px;
    overflow-y: scroll;
    height: 20VH;
}

/* a revealed card */
.revealed {
    opacity: 0.2
}


.available {
    opacity: 1
}

.banner {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.infoIcon {
    margin-top: 2px;
    margin-right: 5px;
}

.rules {
    text-align: center;
}

.showRulesBtn {
    margin: 10px;
}

.showRulesBtnSmall {
    display: inline-block;
    margin: 5px;
}

.roomName {
    /* display: inline-block;  */
    margin: 5px;
    font-size: 30px;
    /* border-bottom: 1px solid #B2B2B2; */
}

.infoIcon {
    font-size: 18px;
}

.infoIconInline {
    font-size: 24px;
    color: gray
}

.roomHeader {
    text-align: center;
}


/* loading circle */
.loading {
    animation: rotate 3s linear infinite;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px dotted;
    display: inline-block;
    margin-right: 2px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }


    100% {
        transform: rotate(360deg);
    }

}