li.revealed{
    color: red; 
}

.base {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 40px 20px rgb(0 0 0 / 75%);
    transition: box-shadow 0.2s;
    background: #222;
}

pre{
    white-space:pre-wrap;
}